*{
    font-family: Georgia;
    text-align: center;
}

section{
    background-color: mistyrose;
    padding: 50px;
}

table{
    margin: auto;
    width: 80%;
    border: 1px solid maroon;

}

img{
    height:120px;
    margin:7px;
    box-shadow: 7px 7px 7px dimgray;
}

ol{
    list-style-type: "I";

}

li{
    text-align: left;
}

h2:first-letter{
    font-size: 170%;
    color: maroon;

}

header, footer{
    background-color: #BA6B6C;
    color: white;
    padding: 7px;

}

aside{
    background-color: #ef9a9a;
    width: 20%;
    height: 500px;
    float: left;
}

main{
    background-color: mistyrose;
    width: 60%;
    height:500px;
    float: left;
}