*{
    font-family: Verdana;
}

header{
    display: flex;

}
main{
    display: flex;
}

.baner-1, .baner-2{
    background-color: #9FA8DA;
    color: white;
    height: 140px;
    float: left;
}

.baner-1{
    width: 30%;
}

.baner-2{
    width: 70%;
    
}

.kalendarz{
    background-color: #929dce;
    width: 160px;
    height: 85px;
    margin: 5px;
    border: 1px solid #929dce;
    overflow: hidden;
    
}

.kalendarz:hover{
    background-color: #929dce;
    color: white;
}

.stopka{
    background-color: #929dce;
    color: white;
    padding: 5px;
    text-align: center;
    width: 100%;
    bottom: 0px;
    position: absolute;
}

h6 {
    text-align: center;
}
